html,
body {
  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: 100vh;

  user-select: none;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  animation: rainbow-background 4s ease infinite;
}

.App {
  position: relative;

  width: 500px;
  height: 500px;

  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .App {
    transform: scale(0.5, 0.5);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choo-choo-motherfucker {
  background: #000000;
  border: none;
  outline: none;

  animation: rainbow-hue 2s steps(36) infinite;

  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

@keyframes rainbow-hue {
  from {
    filter: hue-rotate(10deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes rainbow-background {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.App img {
  pointer-events: none;
}

.thanku {
  font-size: 24px;
}
